section.about{
    text-align: center;
    margin: 6em 0 10em 0;
    position: relative;
    .container {
        max-width: 1000px;
        margin: auto;
    }
    img {
        position: absolute;
        height: 600px;
        top: 1em;
        left: -1000px;
        z-index: -1;
        opacity: 50%;
      }
}
