//colors
$primary-color: #2A245A;
$secondary-color: #8363DA;
$tertiary-color: #53AFF6;

$primary-color-1: #E772C7;
$secondary-color-1: #f65268;
$tertiary-color-1: #DA9662;

$primary-color-2: #DA6962;
$secondary-color-2: #ED52F6;
$tertiary-color-2: #A772E7;

//breakpoint sizes

