section.contact {
  position: relative;

  .container {
    display: flex;
    text-align: center;
    .contact-right {
      display: none;
      iframe {
        height: 100%;
        width: 100%;
        border-radius: 2em;
      }
    }

    label {
      display: block;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    input[type="text"],
    textarea {
      width: 100%;
      padding: 0.8em;
      margin-bottom: 1em;
      border-radius: 1em;
      border: 0;
      box-sizing: border-box;
      resize: none;
      &:focus {
        border: 1px;
      }
    }
    input[type="button"] {
      @include tertiary-gradient-background();
    }
    .contact-left {
      margin: auto;
    }
  }
}

//desktop
@media only screen and (min-width: $desktop-standard) {
  section.contact {
    .container {
      .contact-right {
        display: unset;
        width: 60%;
        height: 400px;
        padding-left: 1em;
      }
    }
  }
}
