section.hero {
  position: relative;
  overflow: hidden;
  .container {
    .left-col {
      text-align: center;
      .hero-cta {
        text-decoration: none;
      }
    }
  }
  img.hero-image {
    position: absolute;
    width: 600px;
    top: 6em;
    right: -300px;
    z-index: -1;
    color: $primary-color;
    opacity: 50%;
  }
}
