section.hero {
  position: relative;
  overflow: hidden;
  align-content: center;
  .container {
    text-align: center;
    .left-col {
      max-width: 1000px;
      margin: auto;
      .hero-cta {
        text-decoration: none;
      }
    }
  }
  img.hero-image {
    position: absolute;
    width: 600px;
    top: 6em;
    right: -300px;
    z-index: -1;
    color: $primary-color;
    opacity: 50%;
  }
}

//desktop
@media only screen and (min-width: $desktop-min) {
  section.hero{
    height: 600px;
    padding-top: 100px;
    .hero-cta {
      margin-top: 4em;
    }
  }
}
