@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Baloo 2";
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  color: grey;
  font-size: 1.5em;
}

section {
  padding: 1em;
  max-width: 100vw;
}

.container {
  max-width: 1500px;
  margin: auto;
}

.gradient-button {
  background: -webkit-gradient(linear, right top, left bottom, from(#2A245A), color-stop(#8363DA), to(#53AFF6));
  background: linear-gradient(to bottom left, #2A245A, #8363DA, #53AFF6);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.navbar {
  background-color: white;
  padding: 1em;
}

header.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.navbar .container img.logo {
  height: 30px;
}

header.navbar .mobile-menu {
  cursor: pointer;
  height: 1.5em;
}

nav {
  display: none;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  header.navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  header.navbar .container img.logo {
    height: 50px;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .navbar nav li a {
    color: black;
    padding: 0.1em 1em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}

section.hero {
  position: relative;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
}

section.hero .container {
  text-align: center;
}

section.hero .container .left-col {
  max-width: 1000px;
  margin: auto;
}

section.hero .container .left-col .hero-cta {
  text-decoration: none;
}

section.hero img.hero-image {
  position: absolute;
  width: 600px;
  top: 6em;
  right: -300px;
  z-index: -1;
  color: #2A245A;
  opacity: 50%;
}

section.bollard {
  background: -webkit-gradient(linear, right top, left bottom, from(#E772C7), color-stop(#f65268), to(#DA9662));
  background: linear-gradient(to bottom left, #E772C7, #f65268, #DA9662);
  color: white;
}

section.bollard .container {
  padding: 2em 0;
  text-align: center;
}

section.bollard .container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

section.bollard .container ul li .inner-tilt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  height: 350px;
  padding: 1em 0;
}

section.bollard .container ul li h3 {
  margin: 0.3em 0;
}

section.bollard .container ul li img.bollard {
  margin-top: 1em;
  height: 80%;
  max-height: 350px;
}

section.bollard .container ul li .text {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

section.bollard .container ul li .text p {
  color: white;
}

@media only screen and (min-width: 1250px) {
  section.bollard .container ul li {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    background-color: white;
    border-radius: 2rem;
    margin: 5em 1em;
    padding: 2em 4em;
  }
  section.bollard .container ul li .inner-tilt {
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  section.bollard .container ul li .inner-tilt:hover {
    -webkit-transform: translateZ(30px);
            transform: translateZ(30px);
  }
  section.bollard .container ul li .text {
    color: black;
  }
  section.bollard .container ul li .text p {
    padding-top: 2em;
    color: black;
  }
}

section.about {
  text-align: center;
}

section.team {
  text-align: center;
  background: -webkit-gradient(linear, right top, left bottom, from(#2A245A), color-stop(#8363DA), to(#53AFF6));
  background: linear-gradient(to bottom left, #2A245A, #8363DA, #53AFF6);
}

section.team .container h2 {
  color: white;
}

section.team .container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

section.team .container ul li {
  background-color: white;
  border-radius: 2rem;
  margin: 5em 1em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section.team .container ul li .tilt-inner {
  padding: 0 0.1em;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

section.team .container ul li .tilt-inner:hover {
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

section.team .container ul li h3 {
  margin: 0;
}

section.team .container ul li img {
  margin-top: -5em;
  width: 10em;
  border-radius: 50%;
}

section.contact {
  position: relative;
}

section.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

section.contact .container .contact-right {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
}

section.contact .container .contact-right iframe {
  height: 100%;
}

section.contact .container label {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

section.contact .container input[type="text"],
section.contact .container textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 1em;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.contact .container input[type="text"]:focus,
section.contact .container textarea:focus {
  border: 1px;
}

section.contact .container input[type="button"] {
  background: -webkit-gradient(linear, right top, left bottom, from(#DA6962), color-stop(#ED52F6), to(#A772E7));
  background: linear-gradient(to bottom left, #DA6962, #ED52F6, #A772E7);
}

section.contact .container .contact-left {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */